body {
    background-color: blanchedalmond;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu-container {
    padding: 10px;
    margin: 10px;
}

#footer {
    flex-direction: row;
    width: auto;
    height: auto;
    margin-top: auto;
    background-color: teal;
}