body {
    background-color: blanchedalmond;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu-container {
    padding: 10px;
    margin: 10px;
}

footer {
    margin-top: auto;
}