body {
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu-container {
    padding: 10px;
    margin: 10px;
}

.f-container{
    height: 100vh; /* for shorter content */
    display: flex;
    flex-direction: column;
      
    /*ie10*/
    display: -ms-flexbox;
    -ms-flex-direction: column;
}

#footer {
    flex-direction: row;
    width: auto;
    height: auto;
    margin-top: auto;
    background-color: teal;
}